* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html {
    font-size: 62.5%;
}

.blackBackground {
    display: none;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
}