.footer__section {
    width: 100%;

    &-up {
        background-color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
        align-content: center;

        &-logo {
            padding: 60px;
            font-size: 50px;
            font-weight: bolder;
            font-family: Georgia;
            color: white;
            text-decoration: none;
        }
    }

    &-down {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        &-copyright {
            padding: 5px;
            font-size: 12px;
            color: white
        }

        &-thanks {
            padding: 5px;
            font-size: 11px;
            color: white
        }
    }
}