* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

html {
  font-size: 62.5%; }

.blackBackground {
  display: none;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000000; }

.header {
  position: relative; }
  .header .header__section {
    display: flex;
    font-size: 2rem;
    align-items: center;
    border-bottom: 5px solid red;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000; }
    .header .header__section-middle {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center; }
      .header .header__section-middle-logo {
        padding: 10px 15px;
        font-size: 3rem;
        font-weight: bolder;
        font-family: Georgia;
        flex: 1;
        text-decoration: none;
        color: black; }
      .header .header__section-middle-list {
        list-style: none;
        display: flex; }
      .header .header__section-middle-list-object {
        margin: 0 2.5rem;
        font-weight: 100;
        padding: 15px 0; }
        .header .header__section-middle-list-object:hover {
          cursor: pointer;
          color: red;
          transition: 0.3s; }

#nav-icon {
  font-size: 3rem; }
  #nav-icon:hover {
    cursor: pointer;
    color: red;
    transition: 0.3s; }

#search-icon {
  font-size: 3rem; }
  #search-icon:hover {
    cursor: pointer;
    color: red;
    transition: 0.3s; }

.hidden__section {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  z-index: 100000;
  position: fixed;
  top: 60px;
  display: none; }
  .hidden__section-holder {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; }
    .hidden__section-holder-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin: 5px 5px 0 5px;
      overflow: hidden; }
      .hidden__section-holder-container:hover {
        cursor: pointer; }
      .hidden__section-holder-container-img {
        width: 250px;
        height: 200px;
        object-fit: cover;
        margin-top: 15px;
        transition: .3s; }
      .hidden__section-holder-container-title {
        width: 250px;
        height: 100px;
        font-size: 15px;
        padding: 15px;
        background-color: black;
        color: white; }

.hidden__section-holder-container:hover > .hidden__section-holder-container-img {
  transform: scale(1.1); }

.hidden__section-holder-container:hover > .hidden__section-holder-container-title {
  color: red; }

.navBar__section {
  width: 350px;
  display: flex;
  transform: translate(-350px);
  position: fixed;
  flex-direction: column;
  background-color: black;
  z-index: 99999999;
  height: 100vh;
  border-right: 1px solid black; }
  .navBar__section-head {
    display: flex; }
    .navBar__section-head-logo {
      padding: 10px 15px;
      font-size: 3rem;
      font-weight: bolder;
      font-family: Georgia;
      flex: 1;
      text-decoration: none;
      color: white; }
  .navBar__section-content-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    margin-top: 20px; }
    .navBar__section-content-list-object {
      font-size: 20px;
      font-weight: bold;
      color: grey;
      padding: 5px 10px;
      margin: 10px 0 10px 15px;
      border-left: 2px solid red;
      transform: skew(15deg);
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, red 50%);
      background-size: 220%;
      transition: .4s; }
      .navBar__section-content-list-object:hover {
        background-position-x: 200px;
        color: white; }

#closing-icon {
  font-size: 40px;
  padding: 10px 15px;
  color: white;
  transition: .3s; }
  #closing-icon:hover {
    cursor: pointer;
    color: red; }

.slider__section {
  background-color: black;
  height: 450px;
  display: flex;
  justify-content: center; }
  .slider__section-image {
    margin-top: 80px;
    width: 630px;
    height: 390px; }
  .slider__section-article {
    margin: 80px 0 0 20px;
    width: 480px; }
    .slider__section-article-companyName {
      font-size: 11px;
      font-weight: bold;
      color: grey;
      margin-bottom: 10px; }
    .slider__section-article-title {
      font-family: 'Oswald', sans-serif;
      font-size: 28px;
      line-height: 1.1;
      font-weight: 600;
      margin-bottom: 15px;
      color: white; }
    .slider__section-article-description {
      font-size: 15px;
      color: white;
      font-weight: 100;
      line-height: 1.4; }

#arrowLeft {
  font-size: 60px;
  margin: auto 15px auto 0;
  opacity: 0;
  color: white; }

#arrowRight {
  font-size: 60px;
  margin: auto 0 auto 15px;
  opacity: 0;
  color: white; }

.slider__section:hover > #arrowRight,
.slider__section:hover > #arrowLeft {
  opacity: 1;
  transition: 0.5s; }

#redName {
  color: #d20000; }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template: repeat(9, 70px)/repeat(17, 1fr);
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 30px auto;
  position: relative; }
  .gallery-line {
    grid-row: 1 / span 1;
    grid-column: 1 / span 17;
    content: '';
    background: #555;
    position: absolute;
    top: 35px;
    width: 100%;
    height: 1px;
    z-index: 0; }
  .gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 17;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    transform: skewX(-15deg);
    text-transform: uppercase;
    z-index: 1; }
    .gallery-title-text {
      background-color: red;
      color: white;
      padding: 4px 10px; }
  .gallery__item {
    position: relative;
    background-color: black; }
    .gallery__item--0 {
      grid-row: 2 / span 6;
      grid-column: 1 / span 7; }
      .gallery__item--0-container {
        background-color: black;
        grid-row: 7 / span 2;
        grid-column: 1 / span 7;
        width: 100%;
        height: 160px; }
        .gallery__item--0-container-title {
          font-size: 25px;
          padding: 20px 15px 15px 15px;
          color: white; }
        .gallery__item--0-container-date {
          font-size: 13px;
          padding: 0px 15px 40px 15px;
          color: white; }
    .gallery__item--1 {
      grid-row: 2 / span 3;
      grid-column: 8 / span 5; }
      .gallery__item--1-container {
        background-color: black;
        height: 80px; }
        .gallery__item--1-container-title {
          font-size: 13px;
          padding: 10px 10px 0 10px;
          color: white; }
        .gallery__item--1-container-date {
          font-size: 13px;
          padding: 0 10px;
          margin: 5px 0;
          color: white; }
    .gallery__item--2 {
      grid-row: 6 / span 3;
      grid-column: 8 / span 5; }
      .gallery__item--2-container {
        background-color: black;
        height: 80px; }
        .gallery__item--2-container-title {
          font-size: 13px;
          padding: 10px 10px 0 10px;
          color: white; }
        .gallery__item--2-container-date {
          font-size: 13px;
          padding: 0 10px;
          margin: 5px 0;
          color: white; }
    .gallery__item--3 {
      grid-row: 2 / span 3;
      grid-column: 13 / span 5; }
      .gallery__item--3-container {
        background-color: black;
        height: 80px; }
        .gallery__item--3-container-title {
          font-size: 13px;
          padding: 10px 10px 0 10px;
          color: white; }
        .gallery__item--3-container-date {
          font-size: 13px;
          padding: 0 10px;
          margin: 5px 0;
          color: white; }
    .gallery__item--4 {
      grid-row: 6 / span 3;
      grid-column: 13 / span 5; }
      .gallery__item--4-container {
        background-color: black;
        height: 80px; }
        .gallery__item--4-container-title {
          font-size: 13px;
          padding: 10px 10px 0 10px;
          color: white; }
        .gallery__item--4-container-date {
          font-size: 13px;
          padding: 0 10px;
          margin: 5px 0;
          color: white; }
  .gallery__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery .gallery__item:hover > .gallery__img {
    opacity: 0.7;
    cursor: pointer;
    transition: .3s; }

.more {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .more-line {
    content: '';
    background: #555;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 1px;
    z-index: 0; }
  .more-title {
    max-width: 140px;
    margin: 10px auto 30px auto;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    transform: skewX(-15deg);
    text-transform: uppercase;
    z-index: 1;
    color: white;
    background-color: red; }
  .more-section {
    display: flex; }

.news__section {
  width: 70%;
  height: 100vh;
  overflow: scroll; }
  .news__section::-webkit-scrollbar {
    display: none; }
  .news__section-button {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    padding: 10px 0;
    font-size: 20px;
    font-family: "Bangers"; }
    .news__section-button:hover {
      background-color: black;
      color: white;
      cursor: pointer;
      transition: .3s; }
  .news__section-container {
    width: 100%;
    height: 220px;
    display: flex;
    margin: 20px 0; }
    .news__section-container-left {
      min-width: 40%;
      max-width: 40%;
      object-fit: cover; }
    .news__section-container-right {
      border-top: 1px solid #c5c5c5;
      padding: 10px; }
      .news__section-container-right-name {
        font-size: 15px;
        color: grey; }
      .news__section-container-right-title {
        font-size: 25px;
        font-family: 'Bangers';
        margin: 10px 0; }
      .news__section-container-right-description {
        font-size: 18px;
        color: grey; }

.trending__section {
  width: 28%;
  position: relative;
  margin-left: 50px; }
  .trending__section-line {
    content: '';
    background: #555;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 1px;
    z-index: 0; }
  .trending__section-title {
    max-width: 120px;
    margin: 5px auto 20px auto;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    transform: skewX(-15deg);
    text-transform: uppercase;
    z-index: 1;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center; }
  .trending__section-up {
    display: flex;
    justify-content: center; }
    .trending__section-up-button {
      color: #c5c5c5;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: bold;
      transform: skewx(-15deg);
      padding: 5px 10px;
      margin: 5px; }
      .trending__section-up-button:hover {
        color: black;
        transition: .3s;
        cursor: pointer; }
  .trending__section-container {
    width: 100%;
    height: 100px;
    display: flex;
    margin: 10px 0;
    border-top: 1px solid #c5c5c5; }
    .trending__section-container-left {
      width: 30%;
      object-fit: cover; }
    .trending__section-container-right {
      padding: 0 10px; }
      .trending__section-container-right-name {
        font-size: 12px;
        padding-top: 5px; }
      .trending__section-container-right-title {
        font-size: 15px;
        font-family: sans-serif;
        font-weight: bold; }

.footer__section {
  width: 100%; }
  .footer__section-up {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-content: center; }
    .footer__section-up-logo {
      padding: 60px;
      font-size: 50px;
      font-weight: bolder;
      font-family: Georgia;
      color: white;
      text-decoration: none;
      transition: .4s; }
      .footer__section-up-logo:hover {
        color: red; }
  .footer__section-down {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    .footer__section-down-copyright {
      padding: 5px;
      font-size: 12px;
      color: white; }
    .footer__section-down-thanks {
      padding: 5px;
      font-size: 11px;
      color: white; }
