.slider__section {
    height: 480px;
    display: flex;
    justify-content: center;
    background-color: black;

    &-arrowDivLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    &-arrowDivRight {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    &-middle {
        height: 530px;
        width: 1200px;
        display: flex;
        margin: 0;
        overflow: hidden;
        
        &-0, 
        &-1,
        &-2,
        &-3,
        &-4 {
            display: flex;
            transition: 0.3s;
            margin-top: 80px;

            &-image {
                width: 730px;
                height: 430px;
                border: 1px solid black;
                object-fit: cover;
            }
        
            &-article {
                width: 450px;
                margin-left: 20px;
        
                &-companyName {
                    font-size: 13px;
                    font-weight: bold;
                    color: grey;
                    margin-bottom: 10px;
                }
        
                &-title {
                    font-family: 'Oswald', sans-serif;
                    font-size: 45px;
                    line-height: 1.1;
                    font-weight: 600;
                    margin-bottom: 15px;
                    color: white;
                }
        
                &-description {
                    font-size: 17px;
                    color: white;
                    font-weight: 100;
                    line-height: 1.6;
                }
            }
        }
    }
}


.slider__section:hover > .slider__section-arrowDivLeft,
.slider__section:hover > .slider__section-arrowDivRight {
    opacity: 1;
    transition: 0.5s;
}

#redName {
    color: rgb(210, 0, 0);
}

#arrowLeft,
#arrowRight {
    color: white;
    font-size: 60px;
    // opacity: 0;
    &:hover {
        cursor: pointer;
    }
}


