.trending__section {
    width: 28%;
    position: relative;
    margin-left: 50px;

    &-line {
        content: '';
        background: #555;
        position: absolute;
        top: 20px;
        width: 100%;
        height: 1px;
        z-index: 0;
    }

    &-title {
        max-width: 120px;
        margin: 5px auto 20px auto;
        padding: 5px;
        font-size: 17px;
        font-weight: bold;
        transform: skewX(-15deg);
        text-transform: uppercase;
        z-index: 1;
        color: white;
        background-color: red;
        display: flex;
        justify-content: center;
    }

    &-up {
        display: flex;
        justify-content: center;
        
        &-button {
            color: rgb(197, 197, 197);
            font-family: sans-serif;
            font-size: 18px;
            font-weight: bold;
            transform: skewx(-15deg);
            padding: 5px 10px;
            margin: 5px;

            &:hover {
                color: black;
                transition: .3s;
                cursor: pointer;
            }
        }
    }

    &-container {
        width: 100%;
        height: 100px;
        display: flex;
        margin: 10px 0;
        border-top: 1px solid rgb(197, 197, 197);

        &-left {
            width: 30%;
            object-fit: cover;
        }

        &-right {
            padding: 0 10px;


            &-name {
                font-size: 12px;
                padding-top: 5px;
            }

            &-title {
                font-size: 15px;
                font-family: sans-serif;
                font-weight: bold;
            }
        }
    }
}

// #red-background {
//     background-color: red;
//     padding: 5px 10px;
//     color: white;

//     &:hover {
//         color: black;
//     }
// }
